.header{
	
	width:430px;
	background-color:lightgrey;
	color:black;
	margin-top:0;
	height:50px;
	font-size:30px;
	text-align:center;
}/*header*/

.mainsection{
	background-color:lightgrey;
	color:black;
	width:430px;
	height:300px;

	
}/*mainsection*/

.random{
	background-color:lightgrey;
	color:black;
	height:100px;
	width:180px;
	
}/*random end*/

.score{
	background-color:lightgrey;
	color:black;
	height:100px;
	width:90px;
	padding-top:5px;

	
	
}/*score end*/
 
.sidebar{
	background-color:lightgrey;
	color:black;
	width:200px;
	height:25px;
	
}/*sidebar end*/



img{
	height:70px;
	width:70px;
	
}/*crystal*/

.footer{
	background-color:lightgrey;
	color:black;
	width:200px;
	height:100px;
	
}/*footer end*/

.container{
	width:400px;

}















