.header{
	
	width:430px;
	background-color:lightgrey;
	color:black;
	margin-top:0;
	height:50px;
	font-size:40px;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
}/*header*/

.mainsection{
	background-color:lightgrey;
	color:black;
	width:430px;
	height:300px;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	font-weight:bold;
}/*mainsection*/

.random{
	background-color:lightgrey;
	color:black;
	height:100px;
	width:180px;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	font-size:50px;
	padding-top:50px;
}/*random end*/

.score{
	background-color:lightgrey;
	color:black;
	height:100px;
	width:180px;
	padding-top:5px;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	font-size:30px;
	
}/*score end*/
 
.sidebar{
	background-color:lightgrey;
	color:black;
	width:200px;
	height:25px;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
}/*sidebar end*/



img{
	height:90px;
	width:94px;
	
}/*crystal*/

.footer{
	background-color:lightgrey;
	color:black;
	width:200px;
	height:100px;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	font-size:50px;
	padding-top:50px;
}/*footer end*/

.container{
	width:450px;
	margin-left:auto;
	margin-right:auto;

}















